$tablet-width: 480px;
$desktop-width: 800px;
$wide-width: 1000px;
$animation: .2s ease background-color;
$font-stack: 'Roboto', sans-serif;
$blue: #0288D1;
$light-blue: #03A9F4;
$white: #ffffff;
$light-gray: #f7f7f7;
$dark-gray: #757575;
$orange: #FF5722;
$dark-orange: #bf360c;
$shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
